
@{
    ViewBag.Title = "Index";
}

<script src="~/Scripts/Users/Users.js"></script>


<h2>Users Index</h2>


<label>Id: </label>
<input type="text" data-bind="value:Id" />


<label>Name: </label>
<input type="text" data-bind="value:Name" />

<label>LastName: </label>
<input type="text" data-bind="value:LastName" />

<input type="text" data-bind="value:FullName" />

<input type="text" data-bind="value:Nros()[Month]" />
